<% @streams = Stream.find(params[:id])%>

<h1><%= @streams.name %></h1>
<p><%= @streams.link %></p>
<p><%= @streams.description %></p>
<p>
     <%= link_to 'Edit Stream', edit_stream_url %>
     <br>
      <%= link_to 'Destroy Stream', @stream , method: :delete, data: { confirm: 'Delete Stream?'} %>
     <br>
     </p>

<strong>Comments</strong>
<br>
  <% @stream.comments.each do |comment| %>
    <%= comment.user.name %>
    <%= comment.content %>
    <%= link_to 'Delete', [@stream, comment] , method: :delete, data: { confirm: 'Delete Comment?'} %>
<br>
<% end %>

<br>
<%= form_for ([@stream, @new_comment]) do |f| %>
  <%= f.label 'Create Comment' %>
  <%= f.text_field :content %>
  <%= f.submit %>
<% end %>

<p><%= link_to 'Go Back to Index', streams_path %></p>
